.single_todo_div {
  min-width: 200px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  margin-top: 3%;
}

.cursor {
  cursor: pointer;
}
